var
venv
tmp
log
*.profile
*.log
*.log.*
*.pyc
*.db
*.orig
.tmp
.DS_Store
!.gitkeep
!log/.gitkeep
.idea
.coverage
htmlcov
scripts/ansible/.ssh/*.key
ansible/key/ansible.key
ansible/retry/*.retry
.python-version
